body{
	margin: 0;
	padding: 0;
}
.head-container{
	background: gray;
	display: flex;
	align-items: center;
	padding: 0 5px;

}
.head-item{
}
.logo{
	flex: 1;
}
.logo-chef{
	font-size: 32px;
	text-decoration: none;
	color: orange;
}
.search-box{
	flex: 3;
	text-align: center;
}
.search-txt{
	border: none;
	background: none;
	color: white;
}
.menu{
	flex: 1;
	text-align: end;
}
.btn-menu{
	background: none;
	border: none;
}
.btn-menu:hover{
	background: rgba(82, 81, 81, 0.616);
}